* {
  box-sizing: border-box;
}

html{
  font-family: "Figtree", sans-serif;
  font-size: 20px;
}

body {
  margin: 0;
}



::selection{
  background-color: rebeccapurple;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.header {
  padding: 5rem 1rem;
  text-align: center;
  background-color: lavender;
  position:relative;
}
.main, footer{
  max-width: 40rem;
  margin: auto;
  padding: 1rem;
}

.profession::after {
  content: "👩‍💻";
}

article + article, footer {
  margin-top: 2rem;
  border-top: 2px dotted rebeccapurple;
}

nav {
word-spacing: 1rem;
margin-top: 2rem;
}

.nav-links:link{
  color: rebeccapurple;
  text-decoration: none;
  border: 2px solid black;
  padding: .25rem;
}

.nav-links:hover{
  background-color: plum; 
}

.nav-links:active {
  border-color: mediumvioletred;
}

.experience-header {
  display: inline;
}

.article-header{
  position:relative;
  right: .3rem;
}

.hire-me{
  position: fixed;
  border: 1px solid black;
  background-color:plum;
  padding: .25rem;
  margin: 0;
  top: 0px;
  right: 0px;
}

.header-size{
  font-size: 3rem;
}

.header-h1 {
  font-size: 1em;
}

.profession {
  font-size:25%;
}