* ,
*::after,
*::before{
  box-sizing: border-box;
}

/* Alle Farben deklarieren*/
:root{
  --clr-font: black;
  --clr-font-acc: rebeccapurple;
  --clr-bg-main: white;
  --clr-bg-acc-light: lavender;
  --clr-bg-acc-medium: plum;
  --clr-link-hover: mediumvioletred;
}
/*Standard-Schrift, Grösse und Farben*/
html{
  font-family: "Figtree", sans-serif;
  font-size: 16px;
  color:var(--clr-font);
  background-color:var(--clr-bg-main);
}

/*Breakpoint - Grössere Schrift)*/
@media screen and (min-width:768px){
  html {
    font-size: 18px;
  }
}

/*Breakpoint - Grössere Schrift)*/
@media screen and (min-width:992px){
  html {
    font-size: 20px;
  }
}


body {
  margin: 0;
}

/*Markierung in anderer Farbe*/
::selection{
  background-color: var(--clr-font-acc);
  color: var(--clr-bg-main);
}

h1,
h2,
h3 {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
h3 {
  margin-bottom:.5rem;
}

/* Header mit Hintergrund, und Navigation*/
.header {
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  position:relative;
  background: linear-gradient(-45deg,var(--clr-bg-acc-light),var(--clr-bg-acc-medium));
  background-position: 70%, 100%;
  border-bottom: 1px solid var(--clr-font-acc);
}

*
/*Breite von Main auf 75 Zeichen gesetzt*/
.main{
  max-width: 75ch;
  margin: auto;
  padding: 1rem;
}

.profession::after {
  content: " 👩‍💻";
}

/*Zwischen den Artikeln eine gestrichelte Linie und ein 2rem Abstand*/
article + article {
  margin-top: 2rem;
  border-top: 2px dotted var(--clr-font-acc);
}

/*Breakpoint grösserer Abstand*/
@media screen and (min-width:768px){
  article + article {
    margin-top: 3rem;
  }
}

/*Breakpoint grösserer Abstand*/
@media screen and (min-width:992px){
  article + article {
    margin-top: 4rem;
  }
}

/*Navigation linksbündig*/
nav {
  text-align: left;
  padding-top:2rem;
}

/*Die Listeneigenschaften entfernen und kein Padding*/
.nav{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction:column;
}

/*Padding zwischen den Li-Elementen 1/2 rem*/
.nav-li{
  _padding: .5rem;
}

/* Typische Link-Ansicht entfernen und die Farbe auf Accent-
Farbe setzen  */
.nav-links:link{
  text-decoration: none;
  color:var(--clr-font-acc);
}


.nav-links:hover,
.nav-links:focus {
  background-color:var(--clr-font-acc); 
  color:var(--clr-bg-acc-light);
  transition: background-color .5s;
}

.nav-links:active {
  color: rgb(12, 1, 8);
}
@media screen and (min-width:768px){
  .nav{
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  

  .nav-links:link{
    border: 2px solid var(--clr-font);
    padding: .5rem;
  }
  .nav-links:active {
    border-color:var(--clr-link-hover);
  }
}

@media print {
  nav {
    display:none;
  }

}

.experience-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:768px){
  .experience-header{
    flex-direction: row;
    justify-content: space-between;
  }

.article-header{
  position:relative;
  right: .3rem;
}

.header:hover .hire-me,
.header:focus-within .hire-me{
  transform-origin: 100% 100%;
  transform: scale(1.2);
}

.hire-me{
  position: absolute;
  border: 2px solid var(--clr-font);
  background-color:var(--clr-bg-acc-medium);
  padding: .25rem;
  margin: 0;
  top: 0px;
  right: 0px;
  transistion: transform 1s;
}

@media screen and (min-width:992px){
  .hire-me{
    position:fixed;
  }
}

@media print {
  .hire-me {
    display:none;
  }

}


.header-size{
  font-size: 2rem;
}

.header-h1 {
  font-size: 1em;
}

.profession {
  font-size:50%;
}

footer{
  background: linear-gradient(var(--clr-bg-acc-light),var(--clr-bg-acc-medium));
  border-top: 1px solid var(--clr-font-acc);
}

.footer{
  font-size: 0.75rem;
  color: var(--clr-font-acc);
  padding: 1rem;
}