* ,
*::after,
*::before{
  box-sizing: border-box;
}

html{
  font-family: "Figtree", sans-serif;
  font-size: 16px;
}

@media screen and (min-width:768px){
  html {
    font-size: 18px;
}
}

@media screen and (min-width:992px){
  html {
    font-size: 20px;
}
}

body {
  margin: 0;
}

::selection{
  background-color: rebeccapurple;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Paytone One", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.header {
  padding: 5rem 1rem;
  text-align: center;
  _background-color: lavender;
  position:relative;
  background: linear-gradient(-45deg, lavender,plum);
  background-position: 70%, 100%;
  border-bottom: 1px solid rebeccapurple;
}
.main, footer{
  max-width: 75ch;
  margin: auto;
  padding: 1rem;
}

.profession::after {
  content: " 👩‍💻";
}

article + article {
  margin-top: 2rem;
  border-top: 2px dotted rebeccapurple;
}

@media screen and (min-width:768px){
  article + article {
    margin-top: 3rem;
    border-top: 2px dashed rebeccapurple;
  }
}

@media screen and (min-width:992px){
  article + article {
    margin-top: 4rem;
    border-top: 2px dashed rebeccapurple;
  }
}

nav {
  text-align: left;
}

.nav{
  list-style-type: none;
  padding: 0;
}



.nav-li{
  padding: .5rem;

}

.nav-links:link{
  text-decoration: none;
  text-align: unset;
  color: rebeccapurple;
}

.nav-links:hover{
  background-color: plum; 
}
.nav-links:active {
  color: rgb(12, 1, 8);
}
@media screen and (min-width:768px){
  .nav{
    display: flex;
  }
  

  .nav-links:link{
    border: 2px solid black;
    padding: .5rem;
  }
  .nav-links:active {
    border-color: mediumvioletred;
  }
}

@media print {
  nav {
    display:none;
  }

}

.experience-header {
  display: flex;
  
}

.article-header{
  position:relative;
  right: .3rem;
}

.hire-me{
  position: absolute;
  border: 2px solid black;
  background-color:plum;
  padding: .25rem;
  margin: 0;
  top: 0px;
  right: 0px;
}

@media screen and (min-width:992px){
  .hire-me{
    position:fixed;
  }
}

@media print {
  .hire-me {
    display:none;
  }

}


.header-size{
  font-size: 2rem;
}

.header-h1 {
  font-size: 1em;
}

.profession {
  font-size:50%;
}

footer{
  background: linear-gradient(lavender, plum);
  border-top: 1px solid rebeccapurple;
}

.footer{
  font-size: 0.75rem;
  color: rebeccapurple;
}